<div style="margin-left: 142px; margin-right: 142px;">
<div class="user-details">
  <h1> Certifications </h1>
</div>      
        
      <style>
        .content-box,
        .content-box * {
          box-sizing: border-box; 
        }

        .column1 {
          float: left;
          width: 33%;
          padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row1::after {
          content: "";
          clear: both;
          display: table;
        }

        .img-rounded {
          border-radius:6px
        }

        .thumbnail {display:block;padding:4px;margin-bottom:20px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out}

        .caption {
          padding:9px;color:#333
        }
      </style>
      <div class="content-box">
      <div class="row1">

        <div class="column1">
          <div class="thumbnail">
            <a href="/w3images/fjords.jpg" target="_blank">
              <img src="assets/img/cert4.png" class="img-rounded" alt="AWS" style="width:100%">
            </a>
              <div class="caption">
                <p>Getting Started with AWS Machine Learning</p>
              </div>
          </div>
        </div>
        
        <div class="column1">
          <div class="thumbnail">
            <a href="/w3images/fjords.jpg" target="_blank">
              <img src="assets/img/cert5.png" class="img-rounded" alt="Intel" style="width:100%">
            </a>
              <div class="caption">
                <p>Intel AI From the Data Center to the Edge</p>
              </div>
          </div>
        </div>
        
        <div class="column1">
          <div class="thumbnail">
            <a href="/w3images/fjords.jpg" target="_blank">
              <img src="assets/img/cert2.png" class="img-rounded" alt="Google" style="width:100%">
            </a>
              <div class="caption">
                <p>Google Analytics Individual Qualification</p>
              </div>
          </div>
        </div>
        
        <div class="column1">
          <div class="thumbnail">
            <a href="/w3images/cert1.png" target="_blank">
              <img src="assets/img/cert1.png" class="img-rounded" alt="Google" style="width:100%">
            </a>
              <div class="caption">
                <p>Google Digital Certificate</p>
              </div>
          </div>
        </div>
        
        <div class="column1">
          <div class="thumbnail">
            <a href="/w3images/cert3.png" target="_blank">
              <img src="assets/img/cert3.png" class="img-rounded" alt="MSI" style="width:100%">
            </a>
              <div class="caption">
                <p>MSI Project Management Essentials Certificate</p>
              </div>
          </div>
        </div>
        
        <div class="column1">
          <div class="thumbnail">
            <a href="/w3images/fjords.jpg" target="_blank">
              <img src="assets/img/cert7.png" class="img-rounded" alt="Snow" style="width:100%">
            </a>
              <div class="caption">
                <p>MSI Six Sigma White Belt</p>
              </div>
          </div>
        </div>

      </div>
     </div>
  </div>
