<div style="margin-left: 142px; margin-right: 142px;">
        
<div class="user-details">
  <h1> Experience </h1>
</div>

<div>
        <b>President and Founder, Doeity</b><br>
            Nov 2019 - Present · Bhopal, MP · doeity.com
        <ul>
            <li>Doeity is a fast, secure, and easy-to-use cryptocurrency paymentwalletwith a vision to transition the world from old to Programmable Money</li>
            <li>Developing a software which can accept 1000+ cryptos including Vajra and Libra backed by the Indian Government and Facebook respectively</li>
        </ul> 
</div>
        
<div>
        <b>Junior Software Developer, Revivo</b><br>
            Dec 2018 - Jan 2018 · Noida, UP · revivo.in
        <ul>
            <li>Developed a complete Flask blog (http://bit.ly/flaskbg) and introduced marketing strategies resulting in 240% growth in customer base</li>
            <li>Prompted the company to enter into the software development sector which generated 86% more revenue than the previous strategies</li>
        </ul> 
</div>

<div>
        <b>Summer Research Intern, Motilal Oswal Group</b><br>
            May 2018 - Jun 2018 · Mumbai, MH · motilaloswal.com 
        <ul>
            <li>Highlighted my 29 research findings on Motilal Oswal and its competitors which later gathered the attention of AVP and CEO of the company</li>
            <li>Presented my innovative ideas after the audit of 300+ relationship managers and identified branches requiring more attention and training</li>
        </ul> 
</div>
        
<div>
        <b>Business Analyst Intern, The Silence Media</b><br>
            May 2017 - Aug 2017 · Sasaram, BR · thesilencemedia.com
        <ul>
            <li>Worked 18-20 hours every week while still a full-time student at my college and assisted CEO with the daily operational functions</li>
            <li>Employed web analytics to scale from 1K to 5K views/day on the website and contributed in content development, SEO, and lead generation</li>
        </ul> 
</div>
        
</div>
