<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.user_title}} {{site.username}}</span>
<!--         <span class="site-description">{{site.user_job_title}}</span>  -->
        <span class="site-description">Founder, Doeity & Co.</span> 
      </h1>
      <div class="header-icons">
        <a aria-label="E-Mail" href="mailto:sunny@doeity.com"><i class="icon fas fa-envelope"></i></a>
        <a aria-label="Twitter" target="_blank" href="http://twitter.com/sunnysinghnitb"><i class="icon fab fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/sunnysinghnitb"><i class="icon fab fa-github" aria-hidden="true"></i></a>
        <a aria-label="Blog" target="_blank" href="https://facebook.com/sunnysinghnitb"><i class="icon fab fa-facebook-f" aria-hidden="true"></i></a>
        <a aria-label="Medium" target="_blank" href="https://medium.com/@sunnysinghnitb"><i class="icon fab fa-medium" aria-hidden="true"></i></a>
        <a aria-label="Medium" target="_blank" href="https://doeity.com/"><i class="icon fa fa-globe" aria-hidden="true"></i></a>
        <a aria-label="Medium" target="_blank" href="https://www.linkedin.com/in/sunnysinghnitb"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        ·
        <a class="link" href="#skills" data-scroll>Skills</a>
        ·
        <a class="link" href="#experience" data-scroll>Experience</a>
        ·
        <a class="link" href="#certifications" data-scroll>Certifications</a>
        ·
        <a class="link" href="#projects" data-scroll>Projects</a>
        ·
        <a class="link" href="#publications" data-scroll>Publications</a>
        ·
        <a class="link" href="#contact" data-scroll>Contact</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

