<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Forecasting the Future Traffic to Wikipedia Pages </h3>
    <p>Predicted the future web traffic for approximately 145,000 Wikipedia articles using sequence-to-sequence neural networks</p>
      <p align="center"><a class="project-link" href="http://bit.ly/2LV2YqG">Check it out</a></p>
  </div>
</div>

<div class="user-projects">

  <div class="images-right">
    <img alt="galaxy" src="{{ "/assets/img/colormap.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Life Expectancy Prediction</h3>
    <p>Computed the average life expectancy of people from 100+ countries using the WHO Global Health Observatory Data and the Linear Regression model</p>
      <p align="center"><a class="project-link" href="https://bit.ly/3dzLgBQ">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="particle-physics" src="{{ "/assets/img/s-bahn-hamburg.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3>Generating Poems through Machine Learning</h3>
    <p>Trained an LSTM model using PyTorch and RNNto generate poems in English by providing 15000+ poems as dataset</p>
    <p align="center">
    <a class="project-link" href="https://bit.ly/mlpoems">Check it out</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="machine-learning-visualization" src="{{ "/assets/img/ml_visualization.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Kaggle Higgs Boson Machine Learning Challenge</h3>
    <p>Created a machine learning model to classify events into "tau tau decay of Higgs boson" versus "background noise"</p>
    <p align="center"><a class="project-link" href="http://bit.ly/2HtcNYh">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reading" src="{{ "/assets/img/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>COVID-19 Live World Dashboard</h3>
    <p>Created an interactive COVID-19 live dashboard, featured on Voila, using the Johns Hopkins University Dataset</p>
    <p align="center"><a class="project-link" href="https://bit.ly/3i4GLT0">Check it out</a></p>
  </div>
</div>
