<div style="margin-left: 142px; margin-right: 142px;">
  
<div class="user-details">
  <h1> Skills </h1>
</div>

<h3>Python + Machine Learning + Deep Learning</h3>

<div style="float: left; width: 33%;">
<ul>
    <li>Keras</li>
    <li>Pandas</li>
    <li>Flask</li>
    <li>Scikit-learn</li>
    <li>TensorFlow</li>
</ul>
</div>
<div style="float: left; width: 33%;">
<ul>
    <li>Classification</li>
    <li>Dimension Reduction</li>
    <li>Boosting Algorithms</li>
    <li>Reinforcement Learning</li>
    <li>Natural Language Processing</li>
</ul>
</div>
<div style="float: right; width: 33%;">
<ul>
    <li>GANs</li>
    <li>Neural Networks</li>
    <li>Recommendation Systems</li>
    <li>Long Short-Term Memory</li>
    <li>YOLO (You Only Look Once)</li>
</ul>
</div>

<h3>Familiar With + Analytical Skills</h3>

<div style="float: left; width: 50%;">
<ul>
    <li>SQL</li>
    <li>MapReduce</li>
    <li>Apache Spark</li>
    <li>Data Processing</li>
    <li>GPU Computing</li>
</ul>
</div>
<div style="float: right; width: 50%;">
<ul>
    <li>Applied Research</li>
    <li>Scenario Thinking</li>
    <li>Business Intelligence</li>
    <li>Computational Thinking</li>
    <li>Competitive Intelligence</li>
</ul>
</div>
  
</div>
